*.pyc
JAP_LOCAL_PYTHON/MAKE/
JAP_LOCAL_SSH_PYTHON/MAKE/
JAP_LOCAL_WS_NODE/MAKE/
JAP_LOCAL_WS_PYTHON/MAKE/
JAP_PYTHON/MAKE/
JAP_REMOTE_SSH_PYTHON/MAKE/
JAP_REMOTE_WS_NODE/MAKE/
JAP_REMOTE_WS_PYTHON/MAKE/