*.pyc
JAP_LOCAL_PYTHON/MAKE/
JAP_PYTHON/MAKE/
JAP_SSH_LOCAL_PYTHON/MAKE/
JAP_SSH_WS_LOCAL_PYTHON/MAKE/
JAP_WS_LOCAL_NODE/MAKE/
JAP_WS_LOCAL_PYTHON/MAKE/
JAP_WS_REMOTE_NODE/MAKE/
JAP_WS_REMOTE_PYTHON/MAKE/